
# LLM配置 (从HelloAgents继承,如需覆盖可在此配置)
# 模型名称
LLM_MODEL_ID=deepseek-ai/DeepSeek-V4.1-Flash

# API密钥
LLM_API_KEY=ms-9068176d-5cb7-453a-9025-bf4ebc18bbaa

# 服务地址
LLM_BASE_URL=https://api-inference.modelscope.cn/v1

# 超时时间（可选，默认60秒）
LLM_TIMEOUT=60

# 服务器配置
HOST=0.0.0.0
PORT=8000

# CORS配置
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# 日志级别
LOG_LEVEL=INFO

# Unsplash API Credentials
UNSPLASH_ACCESS_KEY="upANBjJ0M_KI3sxZxtOqttLBlTdeqFVn_m4W3ga1Trg"
UNSPLASH_SECRET_KEY="6i4HLk09SOEYnMOUGxKH0jLWTVaauTLIkhs3du5I1og"

# 高德地图API配置
AMAP_API_KEY=cc5b75757c37266dbc3c24142712dd4f